<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atelier Konrada - Wiadomość</title>
    <link href="https://fonts.googleapis.com/css2?family=Radley&family=Roboto&family=Zilla+Slab&display=swap" rel="stylesheet" />
  </head>
  <body style="font-family: Radley, serif">
    <p style="font-size: 16px; margin: 0; margin-bottom: 10px">Wiadomość od: {{message_email}}</p>
    <p style="font-size: 16px">{{message}}</p>
  </body>
</html>
