/* ----- G E N E R A L ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d431a;
  box-sizing: border-box;
}

/* ----- O R D E R - S T A T U S ----- */

.status-container {
  margin-bottom: 30px;
}

.header {
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: fit-content;
}

.trademark {
  font-family: "Zilla Slab", serif;
}

.header h1 {
  text-transform: uppercase;
  font-family: "Zilla Slab", serif;
}

.order-number, .bank-account {
  font-family: 'Didact Gothic', sans-serif;
}

.logo-color {
  color: #727d31;
}

.order-steps {
  margin: 10px 0 30px 0;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  position: relative;
}

.order-steps::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 50%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
}

.order-step {
  background-color: #3d431a;
}

.order-step span {
  display: none;
  font-size: 16px;
  color: #fff;
  font-family: "Zilla Slab", serif;
  text-transform: uppercase;
  text-align: center;
}

.order-step i {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px 10px;
  opacity: 0.5;
}

.order-step.active i {
  border: 2px solid #727d31;
  color: #727d31;
  opacity: 1;
}

.order-product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #3a291e;
}

.order-product {
  display: grid;
  grid-template-columns: 100px 1fr 18px;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  background-color: rgba(114, 125, 49, 0.3);
  border: 3px solid #3a291e;
  padding: 10px;
}

.order-product a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Zilla Slab", serif;
}

.status-container .order-product .price {
  display: flex;
  grid-column: 1 / 4;
  justify-content: flex-end;
  align-items: center;
}

.status-container .order-product p {
  font-size: 16px;
  color: #fff;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
}

.status-container .order-product .qty {
  text-align: center;
  font-size: 18px;
}

.total {
  font-family: "Zilla Slab", serif;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
  border-top: 3px solid #3a291e;
  margin-top: 30px;
  margin-bottom: 30px;
}

.total-text {
  font-size: 20px;
  margin-right: 30px;
  text-transform: uppercase;
}

.total-price {
  font-size: 22px;
  font-family: 'Didact Gothic', sans-serif;
}

.payment-header,
.data-header,
.data-header-alternative,
.status-header,
.cancel-header,
.transfer-header {
  font-size: 20px;
  color: #fff;
  font-family: "Zilla Slab", serif;
  margin-bottom: 10px;
}

.payment-option,
.current-status,
.cancel-option {
  width: fit-content;
  max-width: 191px;
  padding: 15px;
  background-color: #3a291e;
}

.current-status {
  background-color: #727d31;
}

.cancel-option {
  background-color: rgb(128, 28, 28);
  font-size: 16px;
  font-family: "Radley", serif;
  padding: 15px 20px;
  color: #fff;
  border: none;
}

.payment-option i,
.current-status i {
  color: #fff;
}

.payment-desc,
.status-desc {
  font-size: 16px;
  color: #fff;
  font-family: "Radley", serif;
  margin-left: 5px;
}

.order-status-info .order-data-final, .order-status-info .order-data-final-alternative {
  margin-bottom: 15px;
  background-color: rgba(114, 125, 49, 0.3);
  border: 3px solid #3a291e;
  padding: 10px;
  color: #fff;
  max-width: 500px;
}

.transfer-info {
  margin-bottom: 15px;
  background-color: rgba(114, 125, 49, 0.3);
  border: 3px solid #3a291e;
  padding: 10px;
  color: #fff;
  max-width: 300px;
}

.order-status-info .order-data-final p, .order-status-info .order-data-final-alternative p, .order-status-info .transfer-info p {
  margin: 0;
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.bank-account {
  font-size: 15px;
}

span.caption {
  font-size: 18px;
  font-family: "Zilla Slab", serif;
  margin-bottom: 5px;
}

.payment-order-status .payment-option, .payment-order-status .current-status, .order-status-info .cancel-option {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .order-data-final, .order-data-final-alternative {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .transfer-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .order-product {
    grid-template-columns: 150px 1fr 18px;
    grid-template-rows: 100px 1fr;
  }

  .order-product img {
    width: 150px;
    height: 150px;
    grid-row: 1 / 3;
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 185px;
    padding: 30px 0 !important;
    align-items: center;
    column-gap: 30px;
  }

  .trademark {
    font-size: 24px !important;
    grid-column: 2 / 3;
    padding-left: 15px;
    border-left: 3px solid #3a291e;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header a {
    margin: 0 !important;
  }

  .header h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .order-product img {
    width: 150px;
    height: 150px;
  }

  .order-step span {
    display: block;
    position: absolute;
    top: 0;
  }

  .order-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: end;
    height: 90px;
  }

  .order-steps::before {
    bottom: 20px;
  }

  .status-container .order-product {
    grid-template-columns: 150px 2fr 1fr 1fr;
  }

  .status-container .order-product .qty {
    grid-column: 3 / 4;
  }

  .status-container .order-product .price {
    grid-column: 4 / 5;
  }
}

@media (min-width: 804px) {
  .order-status-info {
    display: grid;
    grid-template-columns: 500px 185px;
    column-gap: 30px;
    row-gap: 20px;
    align-items: start;
  }

  .order-status-info .data-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }

  .order-status-info .order-data-final {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 0;
  }

  .order-status-info .payment-order-status {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .payment-order-status {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    align-items: start;
  }

  .payment-order-status .payment-header, .payment-order-status .payment-option, .payment-order-status .status-header, .payment-order-status .current-status, .order-status-info .cancel-header, .order-status-info .cancel-option {
    margin-bottom: 0;
  }

  .cancel-header, .cancel-option {
    grid-column: 1 / 2;
  }

  .data-header-alternative, .order-status-info .order-data-final-alternative, .transfer-header, .transfer-info {
    grid-column: 1 / 2;
    margin-bottom: 0;
  }
}

@media (min-width: 992px){
  .order-status-info {
    display: grid;
    grid-template-columns: 500px 185px 165px;
    column-gap: 30px;
    row-gap: 20px;
    align-items: start;
  }

  .cancel-header, .cancel-option {
    grid-column: 2 / 3;
  }

  .cancel-header {
    grid-row: 3 / 4;
  }

  .cancel-option {
    grid-row: 4 / 5;
  }

  .transfer-header, .transfer-info {
    grid-column: 1 / 2;
  }
}

@media (min-width: 1200px) {
  .order-status-info {
    grid-template-columns: 500px 185px 1fr;
  }

  .transfer-header, .transfer-info {
    grid-column: 3 / 4;
  }

  .transfer-header {
    grid-row: 1 / 2;
  }

  .transfer-info {
    grid-row: 2 / 3;
  }
}
