{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="container-lg about-container">
  <img src="{% static 'shop/images/about.JPG' %}" />
  <div class="about-text">
    <h1 class="fs-1 fw-bold">O Mnie</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis quo, voluptates porro consequuntur expedita quas minus nostrum consequatur doloremque temporibus, voluptatibus sed numquam voluptatem iste. Quasi reiciendis expedita, facere voluptatibus quod incidunt nesciunt perferendis, pariatur explicabo dolor vel sequi. Deserunt officia velit dolorum architecto nam? Veritatis atque modi cupiditate.</p>
  </div>
</div>
{% endblock content %}
